.container {
    padding: 0 450px;

    @media (max-width: $hd) {
        padding: 0 350px;
    }

    @media (max-width: $xxl) {
        padding: 0 300px;
    }

    @media (max-width: $xl) {
        padding: 0 200px;
    }

    @media (max-width: $lg) {
        padding: 0 170px;
    }

    @media (max-width: $md) {
        padding: 0 100px;
    }

    @media (max-width: $sm) {
        padding: 0 40px;
    }
}