.footer {
    padding: 72px 80px 28px;
    background-color: $gray-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (max-width: $xl) {
        padding: 60px 70px 20px;
    }

    @media (max-width: $lg) {
        padding: 50px 60px 20px;
    }

    @media (max-width: $sm) {
        padding: 40px 40px 20px;
    }

    &__nav {
        display: flex;
        align-items: center;
        margin-bottom: 32px;

        @media (max-width: $xl) {
            margin-bottom: 24px;
        }

        @media (max-width: $sm) {
            margin-bottom: 12px;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background-color: $orange;
            margin-right: 30px;
            transition: .15s background-color ease-in-out, .15s box-shadow ease-in-out;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background-color: $hover-orange;
                box-shadow: 0px 15px 20px rgba(249, 87, 46, 0.7);
            }

            @media (max-width: $lg) {
                margin-right: 20px;
            }

            @media (max-width: $sm) {
                width: 42px;
                height: 42px;
            }
        }
    }

    &__title {
        margin-bottom: 5px;
        color: $black;
        letter-spacing: $letter-spacing;
        font-size: 21px;
        line-height: 1.23;

        @media (max-width: $xl) {
            font-size: 19px;
        }
    }

    &__text {
        max-width: 440px;
        color: $gray;
        font-size: 16px;
        line-height: 1.5;

        @media (max-width: $xl) {
            font-size: 15px;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        margin: 76px 0 70px;

        @media (max-width: $xxl) {
            margin: 66px 0 60px;
        }

        @media (max-width: $lg) {
            flex-direction: column;
            margin: 50px 0;
        }

        @media (max-width: $sm) {
            margin: 40px 0;
        }

        &-item {
            margin-right: 110px;
            display: flex;
            flex-direction: column;

            &:last-child {
                margin: 0;
            }

            @media (max-width: $xxl) {
                margin-right: 80px;
            }

            @media (max-width: $xl) {
                margin-right: 60px;
            }

            @media (max-width: $lg) {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }

        &-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $black;
            letter-spacing: $letter-spacing;
            font-size: 21px;
            line-height: 1.42;
            transition: .15s color ease-in-out;

            @media (max-width: $xl) {
                font-size: 19px;
            }

            &:hover {
                color: $orange;
            }

            &-text {
                margin-left: 9px;
            }

            &--email {
                .footer__contacts-link-text {
                    border-bottom: 1px solid $orange;
                }
            }
        }
    }

    &__copyright {
        padding-top: 32px;
        border-top: 1px solid $gray-border;
        width: 100%;
        color: $gray;
        font-size: 16px;
        line-height: 1.5;

        @media (max-width: $xl) {
            font-size: 15px;
        }
    }
}