.button {
    padding: 16px 30px;
    border-radius: 24px;
    color: $white;
    background-color: $orange;
    box-shadow: 0px 7px 15px rgba(249, 87, 46, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.125;
    text-decoration: none;
    transition: .15s background-color ease-in-out, .15s box-shadow ease-in-out;

    &:hover {
        background-color: $hover-orange;
        box-shadow: 0px 7px 15px rgba(249, 87, 46, 0.7);
    }
}