@font-face {
    font-family: "MullerRegular";
    src: url(../fonts/MullerRegular.ttf) format('truetype');
}

@font-face {
    font-family: "MullerMedium";
    src: url(../fonts/MullerMedium.ttf) format('truetype');
}