@font-face {
    font-family: "Muller";
    font-weight: 400;
    src: url('../fonts/MullerRegular.ttf') format('truetype');
}

@font-face {
    font-family: "Muller";
    font-weight: 500;
    src: url('../fonts/MullerMedium.ttf') format('truetype');
}