$ss: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$hd: 1920px;

$black: #000;
$white: #fff;
$gray: #666;
$orange: #f9572e;
$hover-orange: #ff7b59;
$blue: #33b5a3;
$border-blue: #63d2c1;

$font-family-base: 'Muller', sans-serif;
$letter-spacing: -0.01px;